.homeMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.issuesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.issuesFunctions {
    display: flex;
    width: auto;
}

.issuesFunctions div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 40px;
    border-radius: 10px;
}

.createIssue {
    color: white;
    background: green;
    width: 100px;
    margin-right: 10px;
}

.deleteMultipleIssues {
    color: white;
    background: red;
}
.issuesContainer,
.issuesHeader,
.issues {
    width: 90%;
}

.issuesContainer ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.issuesContainer ul li {
    list-style-type: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
}

.issuesHeader li {
    font-weight: bolder;
    cursor: pointer;
}

.issuesHeader li:hover {
    color: #8888;
}

.issuesHeader,
.issues {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    box-shadow: 0 5px 10px rgba(92, 88, 88, 0.533);
    padding: 40px;
    position: relative;
}

.issues div {
    width: 80px;
    list-style-type: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.issues:hover {
    background: rgb(212, 211, 205);
    cursor: pointer;
}

.checkboxIssue {
    padding: 40px;
    cursor: pointer;
    position: absolute;
    left: -20px;
}

.checkboxIssue input {
    padding: 40px;
}
